.gitignore
vendor/         # Директорія залежностей Composer
composer.lock    # Файл із зафіксованими версіями пакетів
.env            # Файл із конфіденційними змінними середовища
.env.local      # Локальні змінні середовища
.env.*.local    # Будь-які інші варіації локальних .env-файлів
*.log
*.cache
*.lock
*.pid
*.seed
*.swp
.idea/
.dockerignore